<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.resincalculator">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--baraye transparent shodan icon ic_luncher bayad az ebteda ic luncheri besazim ke
    background layeresh 0 darsad transparent bashe va shapesh barabar none bashe va
    sepas drwable ax png entekhab konim
    va sepas maghadir icon va round icon ro dar zir barabar @mipmap/ic_launcher gharar bedim
    va sepas dar bakhsh @mipmap/ic_launcher meghdar backgroud ra barabar:
    android:drawable="@color/white" gharad bedim ta toye android haye balatar backgroundesh
    white beshe
    -->
    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Cat1"></activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        //توجه مهم: خط زیر وقتی که میخواهیم از والی استفاده کنیم در اندروید 9 حتما باید باشه وگرنه
        برنامه اررور میده
        -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

    </application>

</manifest>